*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-image: url(../img/sebaey\ backgroumd.png);
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color:rgb(242, 223, 58);
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: rgb(242, 223, 58);
	transition: .4s;
}
.btn{
	background-color:rgb(242, 223, 58);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}


.floatIconsCont{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 0%;
    height: 100%;
    width: auto;
    z-index: 10;
}
.teslaIco{
    width: 8vw;
    height: auto;
    transition: 1s;
}

.introIco{
    width: 8vw;
    height: auto;
    transition: 1s;
}

.teslaIco:hover{
    width: 9vw;
}

.introIco:hover{
    width: 9vw;
}

.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
	text-shadow: 1px 1px 5px black;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
	text-shadow: 1px 1px 5px black;
}
h4{
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
	text-shadow: 1px 1px 5px black;
}
.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid rgb(242, 223, 58);
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:rgb(242, 223, 58);
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #0078AA;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: rgb(242, 223, 58);
	text-shadow: 1px 1px 1px black;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: rgb(242, 223, 58);
	text-shadow: 1px 1px 1px black;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: rgb(242, 223, 58);
	text-shadow: 1px 1px 1px black;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:rgb(242, 223, 58);
	text-shadow: 1px 1px 1px black;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #0095f9;
	cursor: pointer;
}

.service{
	background: rgb(242, 223, 58);
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	text-shadow: 1px 1px 5px black;
	font-size: 75px;
	width: 100%;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #0095f9;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#0095f9;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #0095f9;
	cursor: pointer;
}
.s4{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-flow: column wrap;
    background: url(../img/sebaaey.png);
    background-position: 20% 0%;
    background-size: cover;
    top: 500px;
    overflow: hidden;
}

.sucTextCont{
    width: auto;
    height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    margin-left: auto;
    margin-right: 5vw;
    padding-top: 10vh;
}

.sucTitle{
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif, cursive;
    font-size: 6vw;
    align-self: center;
	text-shadow: 5px 5px 15px black;

}

.sucText{
    font-family: 'Roboto', sans-serif;
    color: #F6F6F6;
    font-size: 1.8vw;
    text-align: left;
    margin-top: 1vh;
    text-align: center;
    align-self: center;
    width: 45vw;
	text-shadow: 1px 1px 5px black;
}

.sucText strong{
    color: #F2DF3A;
	text-shadow: 1px 1px 5px black;
}

.sucVidCont{
    width: auto;
    height: 50vh;
    margin-left: auto; 
    margin-right: 5vw;
}

.sucVid{
    width: 40vw;
    height: auto;
    margin-top: 5vh;
    margin-right: -4vw;
    border-radius: 10px;
    object-fit: cover;
    object-position: 0% 50%;
    box-shadow: 
     5px 0 20px rgb(0, 0, 0),  
     -5px 0 20px rgb(0, 0, 0);
}

.contact-me{
	width: 100%;
	height: 290px;
	background-color:#1384c6;
	background-image:url(../img/invest.png);
	background-repeat: no-repeat;
	background-position: 50%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #F2DF3A;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: #3AB4F2;
	text-shadow: 1px 1px 1px black;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #3AB4F2;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#3AB4F2;
	bottom: 35px;
	font-size: 14px; 
}